* {
    margin: 0;
    padding: 0;

}

/* 레이아웃 */
body {
}

#header {
    background-color: #ff3300;
}

#section_01 {
    background-color: #ff3300;
}


/* 헤더 */
.header {
    width: 1500px;
    height: 34px;
}

.header .header_menu {
    text-align: right;
}

.header .header_menu a {
    text-decoration: none;
    color: #ffffff;
    padding: 15px 0 6px 10px;
    display: inline-block;
    transition: color 0.3s ease;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
}

.header .header_menu a:hover {
    color: rgba(255, 255, 255, 0.8);
    /*color: rgba(0,0,0,0.8);*/
}

/* section_01 */
.section_01 {
    width: 1500px;
    height: 700px;
}

.section_01 .Q_wrapper {
    width: 760px;
    margin: 0 auto;
    padding-top: 150px;
}

.section_01 .Q_text {
    float: left;
    font-family: 'Cormorant Garamond', serif;
    font-size: 100px;
    color: white;
    padding-top: 100px;
    margin: 0 10px;
}

.section_01 .Q_image {
    float: left;
    width: 200px;
    height: 386px;
    margin: 0 10px;
}

.section_01 .Q_image .logo {
    max-width: 100%;
    height: auto;
}


/* media query*/
/* 화면 너비 0 ~ 1540px */
@media (max-width: 1540px) {
    .header {
        width: 100%;
    }

    .header .row {
        padding: 0 15px;
    }

    .section_01 {
        width: 100%;
    }

}

/* 화면 너비 0 ~ 1024px */
@media (max-width: 1024px) {
}

/* 화면 너비 0 ~ 960px */
@media (max-width: 960px) {
    .section_01 .Q_wrapper {
        width: 580px;
        margin: 0 auto;
    }
    .section_01 .Q_text {
        font-size: 70px;
    }

    .section_01 .Q_image {
        width: 170px;
        height: auto;
    }
}

/* 화면 너비 0 ~ 768px */
@media (max-width: 768px) {
    .section_01 .Q_wrapper {
        width: 460px;
        margin: 0 auto;
    }
    .section_01 .Q_text {
        font-size: 50px;
    }

    .section_01 .Q_image {
        width: 150px;
        height: auto;
    }
}

/* 화면 너비 0 ~ 600px */
@media (max-width: 600px) {

}

/* 화면 너비 0 ~ 480px */
@media (max-width: 480px) {

}







