* {
    margin: 0;
    padding: 0;
}

.section {
  position: relative;
}

.section--first {
  position: relative;
  background-color: #ff3300;
  background-size: cover;
  height: 754px;
}

.section--second {
  position: relative;
  background-color: white;
  background-size: cover;
  height: 754px;
}

.section--third {
  position: relative;
  background-color: #ff3300;
  background-size: cover;
  height: 754px;
}