<!DOCTYPE html>
<html lang="ko">

<head>
    <meta name="author" content="BBakco" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1" />

    <!-- 이 아래 태그 추가함(정현). 화면 렌더링할 때 최신의 인터넷 엔진을 쓰라는 뜻의 ?-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- http://ogp.me/ -->
    <meta property="og:type" content="">
    <meta property="og:site_name" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">

    <!-- https://developer.twitter.com/en/docs/tweets/optimize-with-cards/guides/getting-started.html -->
    <meta property="twitter:card" content="">
    <meta property="twitter:site" content="">
    <meta property="twitter:title" content="">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="">
    <meta property="twitter:url" content="">

    <title>BBakco</title>

    <!-- CSS reset, CSS style, Jquery import -->
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!-- 일반적인 fabicon 설정 (정현) -->
    <link rel="icon" href="../static/fabicon.ico">
    <!-- 아이폰용 fabicon 설정 (정현) -->
    <link rel="apple-touch-icon" href="../static/fabicon.ico">
    <!-- 인터넷 익스플로러용 fabicon 설정 -->
    <link rel="short icon" type="image/x-icon" href="../static/fabicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">


</head>

<body>

    <section class="section section--first">

    </section>
    <section class="section section--second">

        <div id="bulletin">
            <img src="/static/storybox-title.png">
        </div>

        <div class="story-container" id="first-line">
            <div class="item item1">
                <div class="question">반려동물이 있다면 자랑해주세요!<br></div>
                <div class="answer">
                    답변 1은 이렇게 이렇게 이렇게 이렇게 이렇게
                    이렇게 이렇게 이렇게 이렇게 이렇게 이렇게
                    이렇게 이렇게 이렇게 이렇게 이렇게 이렇게 이렇게 이렇게 이렇게 이렇게
                </div>
            </div>
            <div class="item item2">
                <div class="question">최근에 있었던 가장 재미있는 일은?</div>
                <div class="answer">
                    답변 2은 이렇게 이렇게 이렇게 이렇게 이렇게
                    이렇게 이렇게 이렇게 이렇게 이렇게 이렇게
                    이렇게 이렇게 이렇게 이렇게 이렇게 이렇게 이렇게 이렇게 이렇게 이렇게
                </div>
            </div>
        </div>
        </div>

        <div class="story-container" id="second-line">
            <div class="item item3">
                <div class="question">어떤 날씨를 좋아하세요?</div>
                <div class="answer">
                    답변 3은 이렇게 이렇게 이렇게 이렇게 이렇게
                    이렇게 이렇게 이렇게 이렇게 이렇게 이렇게
                    이렇게 이렇게 이렇게 이렇게 이렇게 이렇게 이렇게 이렇게 이렇게 이렇게
                </div>
            </div>

            <div class="item item4">
                <div class="question">요즘 최애 가수나 연예인이 있다면?</div>
                <div class="answer">
                    답변 4는 이렇게 이렇게 이렇게 이렇게 이렇게
                    이렇게 이렇게 이렇게 이렇게 이렇게 이렇게
                    이렇게 이렇게 이렇게 이렇게 이렇게 이렇게 이렇게 이렇게 이렇게 이렇게
                </div>
            </div>
        </div>


    </section>
    <section class="section section--third">

    </section>


<!-- <script src="js/main.js"></script> -->
</body>

</html>