<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="author" content="BBakco"/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1"/>

    <!-- http://ogp.me/ -->
    <meta property="og:type" content="">
    <meta property="og:site_name" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <!-- https://developer.twitter.com/en/docs/tweets/optimize-with-cards/guides/getting-started.html -->
    <meta property="twitter:card" content="">
    <meta property="twitter:site" content="">
    <meta property="twitter:title" content="">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="">
    <meta property="twitter:url" content="">

    <title>BBakco</title>

    <!-- CSS reset, CSS style, Jquery import -->
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <!--    font-family: 'Noto Sans KR', sans-serif;-->
</head>

<body>
<header id="header">
    <div class="header">
        <div class="row">
            <div class="header_menu">
                <a href="#">Login</a>
            </div>
        </div>
    </div>
</header>
<section id="section_01">
    <div class="section_01">
        <div class="Q_wrapper">
            <div class="Q_text">QUES</div>
            <div class="Q_image">
                <img class="logo" src="http://upload.wikimedia.org/wikipedia/commons/d/d2/Question_mark.svg"
                     alt="question mark">
                <!--                https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Question_mark.svg/1200px-Question_mark.svg.png-->
            </div>
            <div class="Q_text">TION</div>
        </div>
    </div>
</section>

<section id="section_02">
    <div class="section_02"></div>
</section>

<section id="section_03">
    <div class="section_03">
        <table class="table">
            <th class="table_title" colspan="2">Our Team Members</th>
            <tr> <!-- 사진 -->
                <td class="table_pic member01">
                    <img class="pic" src="https://img.animalplanet.co.kr/news/2019/06/26/700/6l5n405756f5r183zt0f.jpg"
                         alt="member"
                         style="width: 200px; height: 200px; border-radius: 200px;">
                </td>
                <td class="table_pic member02">
                    <img class="pic" src="https://img.animalplanet.co.kr/news/2019/06/26/700/6l5n405756f5r183zt0f.jpg"
                         alt="member"
                         style="width: 200px; height: 200px; border-radius: 200px;">
                </td>
                <td class="table_pic member03">
                    <img class="pic" src="https://img.animalplanet.co.kr/news/2019/06/26/700/6l5n405756f5r183zt0f.jpg"
                         alt="member"
                         style="width: 200px; height: 200px; border-radius: 200px;">
                </td>
                <td class="table_pic member04">
                    <img class="pic" src="https://img.animalplanet.co.kr/news/2019/06/26/700/6l5n405756f5r183zt0f.jpg"
                         alt="member"
                         style="width: 200px; height: 200px; border-radius: 200px;">
                </td>
                <td class="table_pic member05">
                    <img class="pic" src="https://img.animalplanet.co.kr/news/2019/06/26/700/6l5n405756f5r183zt0f.jpg"
                         alt="member"
                         style="width: 200px; height: 200px; border-radius: 200px;">
                </td>
            </tr>
            <tr> <!-- 이름, 역할 -->
                <td class="table_txt member01">
                    <p><span style="font-weight: bold;">김영선</span></p>
                    <br>
                    <p>프론트엔드, 백엔드 개발</p>
                </td>
                <td class="table_txt member02">
                    <p><span style="font-weight: bold;">김영선</span></p>
                    <br>
                    <p>프론트엔드, 백엔드 개발</p>
                </td>
                <td class="table_txt member03">
                    <p><span style="font-weight: bold;">김영선</span></p>
                    <br>
                    <p>프론트엔드, 백엔드 개발</p>
                </td>
                <td class="table_txt member04">
                    <p><span style="font-weight: bold;">김영선</span></p>
                    <br>
                    <p>프론트엔드, 백엔드 개발</p>
                </td>
                <td class="table_txt member05">
                    <p><span style="font-weight: bold;">김영선</span></p>
                    <br>
                    <p>프론트엔드, 백엔드 개발</p>
                </td>
            </tr>

            <th class="table_title" colspan="2">Special Thanks To</th>
            <tr> <!-- 사진 -->
                <td class="table_pic">
                    <img class="pic" src="https://img.animalplanet.co.kr/news/2019/06/26/700/6l5n405756f5r183zt0f.jpg"
                         alt="member"
                         style="width: 200px; height: 200px; border-radius: 200px;">
                </td>
                <td class="table_pic">
                    <img class="pic" src="https://img.animalplanet.co.kr/news/2019/06/26/700/6l5n405756f5r183zt0f.jpg"
                         alt="member"
                         style="width: 200px; height: 200px; border-radius: 200px;">
                </td>
                <td class="table_pic">
                    <img class="pic" src="https://img.animalplanet.co.kr/news/2019/06/26/700/6l5n405756f5r183zt0f.jpg"
                         alt="member"
                         style="width: 200px; height: 200px; border-radius: 200px;">
                </td>
            </tr>
            <tr> <!-- 이름, 역할 -->
                <td class="table_txt">
                    <p><span style="font-weight: bold;">김영선</span></p>
                    <br>
                    <p>프론트엔드, 백엔드 개발</p>
                </td>
                <td class="table_txt">
                    <p><span style="font-weight: bold;">김영선</span></p>
                    <br>
                    <p>프론트엔드, 백엔드 개발</p>
                </td>
                <td class="table_txt">
                    <p><span style="font-weight: bold;">김영선</span></p>
                    <br>
                    <p>프론트엔드, 백엔드 개발</p>
                </td>
            </tr>
        </table>
    </div>
</section>
<footer id="footer"></footer>
</body>

</html>
